.Business {
  border: 2.5px solid black;
  margin: 1rem 2.5rem;
  width: 20rem;
}

.Business img {
  display: block;
  max-width: 100%;
  height: auto;
}

.Business h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
}

.Business figure {
  width: 20rem;
}

.FlexItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 1rem 0;
}

.FlexItems p {
  line-height: 1.5;
}

.BusinessAddress {
  margin-left: 0.5rem;
}
